{% if sliderImages.length %}
<div class="slider">
  <div class="slides">
    {% for item in sliderImages %}
    <div class="slide">
      {# <img src="images/{{ sliderImage }}"> #}
      <p>This is a {{ sliderCaption }} test</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}