<div class="slider">

  {# <a href="#slide-1">1</a>
  <a href="#slide-2">2</a>
  <a href="#slide-3">3</a>
  <a href="#slide-4">4</a>
  <a href="#slide-5">5</a> #}

  <div class="slides">
    <div id="slide-1">
      <img src="images/5-demands-0.jpg">
    </div>
    <div id="slide-2">
      <p>1 ΑΝΑΚΛΗΣΗ ΤΟΥ ΠΕΡΙΟΡΙΣΜΟΥ ΚΥΚΛΟΦΟΡΙΑΣ ΓΙΑ ΟΛΟΥΣ/ΕΣ. (ΚΑΤΟΙΚΟΥΣ και ΜΕΤΑΝΑΣΤΕΣ)</p>
    </div>
    <div id="slide-3">
      <p>2. ΑΜΕΣΗ ΔΙΑΚΟΠΗ ΕΡΓΑΣΙΑΣ ΣΕ ΜΗ ΑΝΑΓΚΑΙΟΥΣ ΤΟΜΕΙΣ.</p>
    </div>
    <div id="slide-4">
      <p>3. ΕΠΙΤΑΞΗ/ΑΝΑΔΙΑΝΟΜΗ ΣΤΕΓΗΣ ΚΑΙ ΕΛΕΥΘΕΡΗ ΔΩΡΕΑΝ ΔΙΑΝΟΜΗ ΤΩΝ ΑΠΑΡΑΙΤΗΤΩΝ ΜΕΣΩΝ ΔΙΑΒΙΩΣΗΣ ΓΙΑ ΟΛΟΥΣ.</p>
    </div>
    <div id="slide-5">
      <p>4. ΑΠΕΛΕΥΘΕΡΩΣΗ ΟΛΩΝ ΤΩΝ ΕΓΚΛΕΙΣΤΩΝ.</p>
    </div>
    <div id="slide-6">
      <p>5. ΝΟΜΙΜΟΠΟΙΗΣΗ ΟΛΩΝ ΤΩΝ ΜΕΤΑΝΑΣΤΩΝ ΧΩΡΙΣ ΝΟΜΙΜΑ ΕΓΓΡΑΦΑ.</p>
    </div>
  </div>
</div>