{% if sliderImages.length %}
<div class="slider">
  <div class="slides">
    {% for item in sliderImages %}
    <div class="slide">
      <img src="{{ item }}">
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}