{% if navigation.items %}
  <nav class="site-nav">
    <ul class="site-menu">
      {% for item in navigation.items %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
