{% if postListItems.length %}
  <section class="post-list">
    <h2 class="post-list__title">{{ postListHeading }}</h2>
    <ul class="post-list__posts">
      {% for item in postListItems %}
        {% if item.date.getTime() <= global.now %}
          <li class="post-list__item">
            <h3 class="post-list__item-title">
              <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
            </h3>
            <p>Post excerpt</p>
            <p>
              <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}
