{% extends 'layouts/base.njk' %}

{% block content %}
  <main class="main-article">
    <article>
      <h2>{{ title }}</h2>
      {{ content | safe }}
      {% include "partials/components/contact-form.njk" %}
    </article>
  </main>
{% endblock %}