{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
<main class="main-home">
  <section class="main-home__section">
    <article class="main-home__article">
      <figure class="main-home__image">
        <img src="https://www.inexarchia.gr/sites/default/files/kropotkin-inexarchia.jpg">
      </figure>
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </article>
  </section>
  <aside class="main-home__aside">
    <ul>
      <h3>Άμεσα λειτουργούν οι ομάδες εργασίας:</h3>
      <li>Άμεσων δράσεων Αλληλεγγύης σε ευάλωτες ομάδες (Τρόφιμα και Φάρμακα)</li>
      <li>Καμπάνιας και Τεχνική υποστήριξη</li>
      <li>Νομικής Βοήθειας (Εργαζόμενων και Ενοικιαστών)</li>
      <li>Ψυχολογικής υποστήριξης και συμβουλευτικής</li>
      <li>Δημοσιογραφική ομάδα και ομάδα μετάφρασης</li>
    </ul>
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </aside>
</main>
{% endblock %}
