{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
<main class="main-home">
  <section class="main-home__section">
    <article class="main-home__article">
      <figure class="main-home__image">
        <img src="https://www.inexarchia.gr/sites/default/files/kropotkin-inexarchia.jpg">
      </figure>
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </article>
  </section>
  <aside class="main-home__aside">
    {% include "partials/components/work-groups.njk" %}
    <div class="main-home__aside-section">
      {% include "partials/components/post-list.njk" %}
      {% include "partials/components/pagination.njk" %}
    </div>
    {% include "partials/components/aside-text.njk" %}
  </aside>
</main>
{% endblock %}
