{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
<main class="main-home">
  <section class="main-home__section">
    <article class="main-home__article">
      <figure class="main-home__image">
        <img src="https://www.inexarchia.gr/sites/default/files/kropotkin-inexarchia.jpg">
      </figure>
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </article>
  </section>
  <aside class="main-home__aside">
    {% include "partials/components/work-groups.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %}
    <article class="home-aside__article">
      <h3>Γιατί ΚΡΟΠΟΤΚΙΝ;</h3>
      <p>Ο Πέτρος Κροπότκιν (1842-1921),  αυτός ο μεγάλος αναρχικός, είναι και θα είναι πάντα επίκαιρος όσο υπάρχει ζωή στον πλανήτη.  Με την "Αλληλοβοήθεια" απέδειξε ότι αυτή είναι η καταλυτική ουσία για τη διατήρηση και την εξέλιξη όλων των μορφών ζωής και το έκανε αυτό μέσα από ενδελεχή και επιστημονική έρευνα. Σκοπός του ήταν να πείσει την κοινωνία προκειμένου να τοποθετήσει την Αλληλοβοήθεια στην κορυφή των κοινωνικών αξιών όπου με την ξεχασμένη "ΑΝΑΡΧΙΚΉ ΗΘΙΚΗ" να αποτελέσουν τους παράγοντες της αρμονίας της ανθρωπότητας. Η κοινωνία δεν έχει θεμελιωθεί πάνω στην αγάπη και στη συμπόνια αλλά πάνω στην αλληλοβοήθεια, στην οποία και οφείλει την εξέλιξή της. Η ηθική της αλληλοβοήθειας προϋποθέτει ενεργητική στάση απέναντι στον άλλον και στους άλλους.</p>
      
      <p>Οι δύο πυλώνες της αλληλοβοήθειας, «κάνε στους άλλους αυτό που θα ήθελες να σου κάνουν σε αντίστοιχες περιπτώσεις» και «να σπέρνεις τη ζωή γύρω σου», μαρτυρούν την ενεργητικότητά της. Αυτοί οι πυλώνες σημαίνουν προστάτεψε και βοήθα τον άλλον, γιατί  αν σωθεί ο άλλος, υπάρχει ελπίδα και προοπτική.</p>

    </article>
  </aside>
</main>
{% endblock %}
