{% extends 'layouts/base.njk' %}

{# Post list content #}
{% set postListHeading = 'All news' %}
{% set postListItems = collections.news %}

{% block content %}
  <main class="main-article">
    {% include "partials/components/post-list.njk" %}
  </main>
{% endblock %}
