{% extends 'layouts/base.njk' %}

{# Intro content #}
<p>
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
</p>

{% block content %}
  <main class="main-article">
    <article>
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </article>
  </main>
{% endblock %}
