@import 'partials/reset';
@import 'partials/base';

body {
  scroll-behavior: smooth;
  font-family: 'Alegreya Sans', sans-serif;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

@import 'partials/header';
@import 'partials/home';
@import 'partials/pages';
@import 'partials/home-slider';